.Main-div {
  /* width: 80%; */
  margin: auto;
  margin-top: 80px;
}


.Listening-History {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 100px;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: teal;
}

img {
  width: 200px;
  height: 250px;
}

#elements-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}